# Server Configuration
PORT=
NODE_ENV=

# MongoDB Configuration
MONGO_USER=
MONGO_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# Security
BCRYPT_ROUNDS=

#Frontend url
CLIENT_URL=
