# Server Configuration
PORT=
NODE_ENV=

# MongoDB Configuration
MONGODB_URI=
MONGODB_URI_TEST=
# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# Security
BCRYPT_ROUNDS=

#Frontend url
CLIENT_URL=
